/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.circle {
  height: 15px;
  width: 15px;
  display: inline-block;
  shape-outside: circle();
  border-radius: 50%;
}

.info {
  padding: 6px 8px;
  font: 14px sans-serif;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  border-radius: 5px;
}